<div class="container">
		
	<div class = "kiosk-wrapper">
		<div class="kiosk">
			
			<div id='parks-list'></div>
			<div id='directions'></div>
			
			<script type="text/template" id="parks-list-template">
				
				<div id="current">
					<div class="select_park"></div>
					<div class="select_park_list">
						<% _.each(parks, function(park){ %>
							<li>
								<span><%= park.name %></span> 
							</li> 
						<% }); %>
						
					</div>
					
					<div class="park_name"><%= App.current.name %></div>
					<div class="park_address shorten"><%= App.current.address %></div>
				</div>
				<hr/>
				
			</script>
			
			<div class="directions"></div>

			<script type="text/template" id="directions-template">
				<%	_.each(directions, function(value, index) { %>
					<%	if(value.length > 0) { %>
					<div class="<%= index %>">
						<div class="icon <%= index %>"></div>
						<% for (var i = 0; i < value.length; i++) { %>
							<% if (i == 0 && value.length > 1){ %>
								 <%= value[i] %>, 
							<% } else if (value.length == 1) { %>
								 <%= value[i] %> 
							<% } else { %>
								</br> <%= value[i] %> 
							<% } %>

						<% } %>
					</div>
					<%	} %>
					
				<% }); %>
			</script>
				
			
			<div id='map'></div>
			
			<div id='overview_map'></div>
			<div id="qr_wrapper">
				<div class="you-are-here"></div>
				<div id='qr_code'></div>
				<div class="instructions">
					Scan this code to view<br/>
					the map on your phone.
				</div>
			</div>
		</div>
	</div>

	<div id='map-canvas'></div>
</div>

<script src="scripts/app.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/map.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/util.js" type="text/javascript" charset="utf-8"></script>
