<div class="container">
		
	<div id='map'></div>

	<div id='google_map'></div>
</div>

<script src="scripts/app.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/map.js" type="text/javascript" charset="utf-8"></script>
