<div class="container">
		
	<!-- Parking View Goes Here -->
	<div id='parks-list'></div>
	<script type="text/template" id="parks-list-template">
		
		<div id="current">
			<div class="select_park"></div>
			<div class="select_park_list">
				<% _.each(parks, function(park){ %>
					<li>
						<span><%= park.name %></span> 
					</li> 
				<% }); %>
				
			</div>
			
			<div class="park_name"><%= App.current.name %></div>
		</div>
		<div class="directions"></div>
		
	</script>
	
	
	<script type="text/template" id="car-park-template">
		<div>
				<h1><%= item.location_name %></h1>
			
			
				<% console.log("from template...", item) %>
				
				<div class="availablity">
					<%= item.available_spots %> Free Spaces
				</div>
				
				<div class="price">
					 <%= item.price_formatted %> per hour
				</div>
		</div>
		
		<div class="amenities">	
				
			<% _.each(getAmenities(item), function(amenity){ %>

				<%= amenity %>
				
			<% }); %>

		</div>
				
	</script>
	
	<div id="car-park"><!-- template --></div>
	

</div>

<script src="scripts/app.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/parking.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/util.js" type="text/javascript" charset="utf-8"></script>
