<div class="container">
		
	<!-- Parking View Goes Here -->
	<div id='parks-list'></div>
	<hr/>
	
	<script type="text/template" id="parks-list-template">
		
		<div id="current">
			<div class="select_park"></div>
			<div class="select_park_list">
				<% _.each(parks, function(park){ %>
					<li>
						<span><%= park.name %></span> 
					</li> 
				<% }); %>
				
			</div>
			
			<div class="park_name"><%= App.current.name %></div>
			<div class="park_address shorten"><%= App.current.address %></div>
			
		</div>
		
	</script>
	
	<div id="car-park"><!-- template --></div>
	<hr/>
	
	<script type="text/template" id="car-park-template">
		<div>
			<div class="availablity">
				<% if (item.available_spots > 0) { %>
					<span class="available">Available</span>
				<% } else { %>
					<span class="not_available">No Parking </span>
				<% } %>
				<div class="company shorten"><%= item.location_name %></div>
			</div>
			
			<div class="amenities">	
				<div class="bus icon"></div>
			
				<% _.each(getAmenities(item), function(amenity){ %>

					<div class="<%= amenity %> icon"></div>
			
				<% }); %>

			</div>

			<div class="availablity_details">
				<div class="space"><%= item.available_spots %></div> <span>Free Spaces</span>
			</div>
			
			<div class="price_details">
				 <div class="price"><%= item.price_formatted %></div> <span>Per Hour</span>
			</div>
		</div>
				
	</script>

	<div id="payment"><!-- QR TEMPLATE --></div>

	<div id="qr_code"><!-- QR TEMPLATE --></div>

</div>

<script src="scripts/app.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/parking.js" type="text/javascript" charset="utf-8"></script>
<script src="scripts/util.js" type="text/javascript" charset="utf-8"></script>
