/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	/* Styles */

	#map {
		height:80% !important;
		width:100% !important;
		margin-left:0px;
		margin-top: 0px;
	}
	
	#directions, #overview_map {
		display:none;
	}
	
	#qr_wrapper {
		display:none;
	}
	
}

